$primary: indigo;
$secondary: orange;
$light: lighten($primary, 50%); // Schiarisco primary del 50%
$dark: darken($primary, 20%); // Scurisco primary del 50%

// Screen sizes
$tablet: 768px;
$large: 992px;
$xlarge: 1200px;
